# Ignore node_modules directory
node_modules/
package-lock.json

# Ignore build directories for Android and iOS
android/build/
android/app/build/
ios/build/
ios/Pods/
ios/DerivedData/

# Ignore .DS_Store files created by macOS
.DS_Store

# Ignore Gradle and Android Studio configuration files
*.iml
.gradle/
local.properties

# Ignore iOS Xcode configuration files
*.pbxproj
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Ignore yarn lockfile
yarn.lock

# Ignore local configuration files
.env

# Ignore cache files
.cache/

# Ignore Tailwind CSS build directory
.tailwind/

# Ignore build artifacts
build/
dist/
out/

# Ignore log files
*.log

# Ignore Next.js build directory
.next/

# Ignore environment variables file
.env

# Dependencies and testing directories
/coverage
/build

# Misc files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs and diagnostic reports
logs
*.log
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock

# Instrumented libs and coverage directories
lib-cov
coverage
.nyc_output

# Grunt, Bower, node-waf, compiled binary addons, snowpack, TypeScript, ESLint, stylelint, Microbundle, REPL history, npm pack output, Yarn Integrity file, parcel-bundler cache, Gatsby, vuepress, Docusaurus, Serverless, FuseBox, DynamoDB Local, TernJS, VSCode versions, yarn v2
.grunt
bower_components
.lock-wscript
build/Release
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity
.cache
.parcel-cache
.nuxt
dist
.cache/
.vuepress/dist
.temp
.cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
