# Ignore node_modules directory
node_modules/
package-lock.json

# Ignore Next.js build directory
.next/

# Ignore environment variables file
.env

# Ignore Tailwind CSS build directory
.tailwind/

# Ignore build artifacts
build/
dist/
out/

# Ignore .DS_Store files created by macOS
.DS_Store

# Ignore log files
*.log

# Ignore yarn lockfile
yarn.lock

# Ignore local configuration files
.env

# Ignore cache files
.cache/